*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

}

#car1{
    width: 100px;
    height: 50px;
    background-color: red;
}
#car2{
    width: 100px;
    height: 150px;
    background-color: blue;
}
#car3{
    width: 100px;
    height: 250px;
    background-color: green;
}