* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  height: 100%;
  width: 10%0;
  background-image: url("https://images.unsplash.com/photo-1729774577834-9f694fc100a7?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  padding: 40px ;
  text-align: center;
}
#txt{
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;

  
}
#btn{
    padding: 10px 20px;
  margin: 50px;
  background: rgb(90, 61, 8);

}