* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    /* background: #000; */
}
#main{
    height: 100%;
    width: 100%;

    background: #235279;
}
.card{
    height: 300px;
    width: 350px;
    background-color: #fff;
  border-radius: 20px;
    position: relative;
  
      overflow: hidden;

    /* border-color: red; */
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
      border-radius: 20px;
}
.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    background: linear-gradient(transparent, black);
    bottom: -40%;
      align-items: center;
    justify-content: space-around;
    display: flex;
    color: #fff;
    transition: all 0.5s ease;
}
.bottom h3{
    background-color: black;
    border-radius: 100%;
    padding: 2%;

}

.card:hover .bottom{
    bottom: 0;
    transition: all 0.5s ease 0.3s;
}


