* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background: #000;
}

#nav {
    height: 50px;
    width: 100%;
    background: #242323;
}
#opt{
    
}