*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;

}
#main{
        height: 100%;
        width: 100%;
        background: #000;
        color: #fff;
}
#nav{
    padding: 10px 30px;
}
#nav a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}
#main>h1{
    font-size: 250px;
    font-weight: 400;
}
#btmLeft{
    position: absolute;
    bottom: "20%";
    left: "5%";
    width: 250px;
}
#btmLeft h4{
    margin-top: "5%";
}