*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background: #000;
}
h1{
    font-size: 100px;
    color: white;
    background: linear-gradient(red, blue);

}

h2{
    font-size: 100px;
    color: white;
    background: linear-gradient(red, blue);
    background-clip: text;
    -webkit-text-stroke: 2px green;
}
h3{
    font-size: 100px;
    color: transparent;
    background-image: url(https://www.thisiscolossal.com/wp-content/uploads/2017/07/wave-5.gif);
    background: cover;
   
    background-clip: text;

}
#parent{
    height: 300px;
    width: 100%;
    background: #333;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: auto;

}
#parent::-webkit-scrollbar{
    display: none;
    /* background-color: #fff; */
}
#parent::-webkit-scrollbar-thumb{
    background-color: #ff0000;
}
.child{
    height: 100%;
    width: 200px;
    background: #fff;
    border-radius: 5px;
    flex-shrink: 0;

}
.child img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}



